<% content_for(:html_title) {' Home' }%>



<body>
<%= image_tag 'pinkflower.jpg',
    class: 'w-15', 
    style: 'max-width: 22rem;'
%> 
<%= image_tag 'chrysanthemum.jpg',
    class: 'w-15', 
    style: 'max-width: 23rem;' %>
<%= image_tag 'Yllow.jpg',
    class: 'w-15', 
    style: 'max-width: 23rem;' %>

  <%= image_tag 'daisy2.jpg',
    class: 'w-15', 
    style: 'max-width: 23rem;' %>
</body>

<p>
Welcome to Branching Out!
Here we offer a vast variety of plants to choose from. As a member of Branching Out, you are able to
create blogs posts to share your thoughts about particular plants, or you can browse the different plants and make a purchase.
This is a safe, free space for plant lovers to unite, so enjoy the full feautures of this site by signing up!
</p>

<h1>
  <center>
  Popular Posts 🔥 </center>
</h1>