<head>
<style>
body {
  background-color: coral;
}
</style>
</head>

<h1><center>Comments 📜</center></h1>

<table class="table table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<p class= "text-right">
  <%= link_to "New Comment", new_post_comment_path(@post), class: "btn btn-secondary"%>
</p>

<p class= "text-right">
  <%= link_to 'Return to Posts', posts_path, class: 'btn btn-secondary' %>
</p>