<h1>List O' Flowers</h1>

<table class = "table table-striped table-hover">

    <thead class = "thead-dark">
        <tr>
            <th> Name </th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <body>
        <% @plants.each do |plant| %>
            <tr>
                <td><%= plant.name %></td>
                <td><%= link_to 'Show', plant_path(plant) %> </td>
                <td><%= link_to 'Delete', plant_path(plant), method: :delete %> </td>
            </tr>
        <%end%>
    </body>

</table>

<p>
    <%= link_to "Add Flower", new_plant_path, class: 'btn btn-primary' %>
</p>