<head>
<style>
body {
  background-color: coral;
}
</style>
</head>

<h1><center> <%= @post.title %> </center></h1>

<p>
 <%= @post.description %>
 
</p>


<p>
  <%= link_to "Create New Post", new_post_path, class: 'btn btn-primary' %>
</p>

</p>

